<h1>Editing order book</h1>

<%= render "form", order_book: @order_book %>

<br>

<div>
  <%= link_to "Show this order book", @order_book %> |
  <%= link_to "Back to order books", order_books_path %>
</div>
